<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InstantMessaging.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InstantMessaging.Settings>
            <setting name="Username" serializeAs="String">
                <value>jasasuster</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>jasa.suster@gmail.com</value>
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value>Jaša</value>
            </setting>
            <setting name="LastName" serializeAs="String">
                <value>Šuster</value>
            </setting>
            <setting name="Birthdate" serializeAs="String">
                <value>2001-03-15</value>
            </setting>
            <setting name="Image" serializeAs="String">
                <value />
            </setting>
        </InstantMessaging.Settings>
    </userSettings>
</configuration>